# Frontend Environment Variables
NEXT_PUBLIC_API_URL="http://localhost:8000"
BETTER_AUTH_URL="http://localhost:3000"
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"
BETTER_AUTH_SECRET="your_32_character_secret_here"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
